.li {
  &:hover {
    &::after {
      content: "";
      width: 200px;
      height: 50px;
      left: -40px;
      position: absolute;
      bottom: -45px;
      background-color: transparent;
    }
    .subMenu {
      opacity: 1;
      max-height: 100vh;
      pointer-events: all;
    }
  }
}
.subMenu {
  opacity: 0;
  max-height: 0;
  pointer-events: none;

  &:hover {
    opacity: 1;
    max-height: 100vh;
  }
}
.triangle {
  width: 0;
  z-index: -1;
  opacity: 1;
  height: 0;
  top: 80px;
  opacity: 0;
  transition-duration: 1000;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
}
.li {
  &:hover ~ .triangle {
    opacity: 1;
    top: 45px;
  }
}
.iconcontainer {
  background: linear-gradient(to right, #c4e2f1, #faf8f7);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  svg {
    color: rgb(12 101 188);
  }
}
